<footer>
  <div class="f-left">
    <a routerLink="../contact" class="contact">
      <button mat-button aria-label="contact-button">CONTACT
      </button>
    </a>
  </div>
  <div class="f-right" matTooltip="Info about Art Deco Imperial Hotel" matTooltipPosition="above"
    aria-label="Find more information about this hotel">
    <mat-icon id="camera">photo_camera</mat-icon>
    <span>Art Deco Imperial Hotel, Prague c. 1910
    </span>
    <button mat-icon-button aria-label="about button">
      <mat-icon id="info">help</mat-icon>
    </button>
  </div>
</footer>