<footer>
  <div class="f-left">
    <a routerLink="../contact" class="contact">
      <button mat-button aria-label="contact-button">
        <mat-icon>mail</mat-icon>Contact
      </button>
    </a>
  </div>
  <div
    class="f-right"
    matTooltip="Info about Art Deco Imperial Hotel"
    matTooltipPosition="above"
    aria-label="Find more information about this hotel"
  >
    <span class="image-info">
      <mat-icon>photo_camera</mat-icon>
      <small>Art Deco Imperial Hotel, Prague c. 1910</small>
    </span>
    <button class="info" mat-icon-button aria-label="about button">
      <mat-icon>help</mat-icon>
    </button>
  </div>
</footer>
