<div class="dialog-container" style="height: calc(100% - 28px)">
  <app-header></app-header>
  <div class="contest-container">
    <button mat-mini-fab color="disabled" aria-label="create" class="close-button" (click)="closeTypewriter()">
      <mat-icon>close</mat-icon>
    </button>
    <h1>WRITING CONTEST</h1>
    <div class="contest-top">
      <strong>Further the story and win <span>$100 USD</span> and an <span>autographed copy</span> of
        <em>Oblivion</em></strong>
      <p>(Three runners up will receive a signed copy.)</p>
    </div>
    <div class="contest-bottom">
      <span>Add up to <strong>250 words</strong> to this opening sentence:</span>
      <p><i>“The asbestos factory, gifted to K by his ever-practical father, seemed merely an abstract concept until the
          day that K decided on a whim to pay a visit to the building and the forlorn district in which it was located
          ...”</i>
      </p>
      <form method="POST" action="https://formsubmit.co/oblivion.by.robin.hemley@gmail.com"
        enctype="multipart/form-data">
        <input type="hidden" name="_url" value="https://mango-rock-072624310.1.azurestaticapps.net">
        <input type="hidden" name="_subject" value="Oblivion Contest Submission">
        <textarea name="message" placeholder="Contest Submission"></textarea>
        <input type="text" name="text" placeholder="Name">
        <input type="email" name="email" placeholder="Your email">       
        <button type="submit">Submit</button>
      </form>
    </div>
  </div>
  <div class="close-dialog" (click)="closeTypewriter()"></div>
</div>
<router-outlet></router-outlet>