<div class="dialog-container" style="height: calc(100% - 28px)">
  <div class="contest-container">
    <button mat-mini-fab color="disabled" aria-label="create" class="close-button" (click)="closeTypewriter()">
      <mat-icon>close</mat-icon>
    </button>
    <h1>WRITING CONTEST</h1>
    <div class="contest-top">
      <strong>Further the story and win <span>$100 USD</span> and an <span>autographed copy</span> of
        <em>Oblivion</em></strong>
      <p>(Three runners up will receive a signed copy.)</p>
    </div>
    <div class="contest-bottom">
      <span>Add up to <strong>250 words</strong> to this opening sentence:</span>
      <p><i>“The asbestos factory, gifted to K by his ever-practical father, seemed merely an abstract concept until the
          day that K decided on a whim to pay a visit to the building and the forlorn district in which it was located
          ...”</i>
      </p>
      <form [formGroup]="typewriterForm">
        <mat-form-field class="entry-field">
          <mat-label>&nbsp;&nbsp;&nbsp;&nbsp;Contest Submission</mat-label>
          <textarea matInput type="text" formControlName="message" maxlength="250" tabindex="1"></textarea>
        </mat-form-field>
        <mat-form-field class="name-field">
          <mat-label>&nbsp;&nbsp;Name</mat-label>
          <input matInput type="text" formControlName="name" tabindex="2" />
        </mat-form-field>
        <mat-form-field class="email-field">
          <mat-label>&nbsp;&nbsp;Email address</mat-label>
          <input matInput type="text" formControlName="email" tabindex="3" />
        </mat-form-field>
        <section>
          <mat-checkbox formControlName="addToMailingList" tabindex="4">Add me to author Robim Hemley's <em>mailing
              list</em>.
          </mat-checkbox>
        </section>
        <button mat-raised-button [disabled]="!typewriterForm.valid" tabindex="5"
          [ngStyle]="{ 'background': typewriterForm.valid ? 'linear-gradient(to bottom, #3a6884, #192c38)' : 'linear-gradient(to bottom, #d3d4d4, #969898)' }"
          (click)="onSubmit()">
          Submit
        </button>
      </form>
    </div>
  </div>
  <div class="close-dialog" (click)="closeTypewriter()"></div>
</div>
<router-outlet></router-outlet>