.dialog-container::before {
    content: '';
    position: absolute;
    height: 220px;
    width: 220px;
    background-image: url(../../../../assets/img/typewriter.png);
    background-size: contain;
    background-repeat: no-repeat;
    left: calc(50% - 370px);
    transform: translate(-50%);
    z-index: 1;
    top: 180px;
}
.dialog-container {    
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh !important;
    .contest-container {
        color: var(--contest-red);
        height: calc(100vh - 130px);
        max-height: 800px;
        width: 700px;
        max-width: 100vw;
        border-radius: 10px;
        border-top: 16px solid currentColor;
        margin: 0 auto;
        background-color: var(--ob-white);
        text-align: left;
        box-shadow: var(--boxshadow-medium);
        overflow: auto;
        position: relative;
        h1 {
            margin: 5% 0 0;
            font-weight: 700;
            text-align: center;
        }
        .contest-top {
            margin: 0 100px;
            padding: 4% 0;
            border-bottom: 1px solid var(--gray-text);            
            font-size: 24px;            
            color: black;
            strong {
                line-height: 1.2;
                span {
                    color: var(--contest-red);
                }
            }
            p {   
                margin: 28px 0 0 0;       
            }
        }
        .contest-bottom {
            margin: 0 100px;
            padding: 4% 0;
            color: black;
            span {
                font-size: 18px;
            }
            p {
                font-size: 26px;
                margin: 16px 0;
                line-height: 1.5;
            }
            form {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 5%;
                .entry-field {
                    width: 100%;
                }
                .name-field {
                    width: 40%;
                }
                .email-field {
                    width: 55%;
                }
                section {
                    width: 100%;
                    text-align: center;
                    font-size: 18px;
                }
                button {
                    margin: 16px auto;
                    font-size: 26px;
                    padding: 6px 20px 2px;
                    border-radius: 5px;
                    color: var(--ob-white);
                    background: linear-gradient(to bottom, #3a6884, #192c38);
                }
                mat-form-field {
                    margin-bottom: 10px;
                    ::ng-deep .mat-form-field-wrapper {
                        .mat-form-field-flex {
                            border: 1px solid #192c38;
                            border-radius: 5px;
                        }
                    }
                }
            }
        }
        .close-button {
            position: fixed;
            top: 64px;
            right: 200px;
        }
    }    
    .close-dialog {
        z-index: -1 !important;
    }
}


// .dialog-container {
//     body {
//         background-image: url(../../../../assets/img/typewriter.png);
//         background-size: cover;
//         padding: 5%;
//         background-origin: content-box;
//         background-repeat: no-repeat;
//         overflow-y: auto;
//         .writing-form {
//             width: 425px;
//             max-width: 80vw;
//             height: fit-content;
//             background-color: var(--speech-bubble);
//             margin: 24px auto;
//             box-shadow: var(--boxshadow);
//             .form-top {
//                 background: var(--bg-blue);
//                 p {
//                     padding: 12px;
//                     text-align: center;
//                 }
//             }
//             .form-bottom {
//                 padding: 0 24px 24px;
//                 text-align: center;
//                 h2 {
//                     text-align: left;
//                 }
//                 mat-form-field {
//                     width: 100%;
//                     ::ng-deep .mat-form-field-flex {
//                         box-shadow: var(--boxshadow);
//                         background-color: var(--ob-white);
//                     }
//                     input {
//                         margin: 0 12px;
//                         width: calc(100% - 24px);
//                     }
//                 }
//                 .writing-prompt::before {
//                     content: '"';
//                     position: absolute;
//                     left: 5px;
//                     top: 10px;
//                     font-size: 22px;
//                     color: gray;
//                     z-index: 1;
//                 }
//                 .writing-prompt::after {
//                     content: '"';
//                     position: absolute;
//                     right: 5px;
//                     top: 10px;
//                     font-size: 22px;
//                     color: gray;
//                     z-index: 1;
//                 }

//                 p {
//                     font-size: 11px;
//                     white-space: normal;
//                     text-align: left;
//                     margin: 0;
//                 }
//                 section {
//                     margin: 20px auto 10px;
//                     mat-checkbox {
//                         white-space: normal;
//                         ::ng-deep span {
//                             white-space: normal;
//                             text-align: left;
//                         }
//                     }
//                 }
//                 button {
//                     background: var(--ob-yellow);
//                 }
//             }
//         }
//     }
// }

// @media screen and (orientation: portrait) {
//     .dialog-container {
//         body {
//             background-position: bottom;
//             padding: initial;
//             background-size: contain;
//             padding: 5% 0;
//             .writing-form {
//                 margin: 60px auto;
//             }
//         }
//     }
// }

// @media screen and (max-width: 500px) {
//     .dialog-container {
//         body {
//             .writing-form {
//                 margin: 24px auto;
//             }
//         }
//     }
// }
