<div class="dialog-container">
 <button mat-mini-fab color="disabled" aria-label="create" class="close-button">
    <mat-icon routerLink="../">close</mat-icon>
  </button>
  <app-header></app-header>

  <body>
    <div class="writing-form">
      <div class="form-top">
        <p>
          <strong>How would you finish this sentence, inspired by Kafka’s
            writing?</strong>
          5 entries will be selected to win a free copy of Oblivion
        </p>
      </div>
      <div class="form-bottom">
        <h2>"{{ prompt }}"</h2>
        <mat-form-field class="writing-prompt">
          <mat-label>&nbsp;&nbsp;&nbsp;&nbsp;. . . </mat-label>
          <input matInput type="text" />
        </mat-form-field>
        <br>
        <p>Enter your email address, so can we can notify you if your entry is
          selected:</p>
        <mat-form-field>
          <mat-label>&nbsp;&nbsp;email address</mat-label>
          <input matInput type="text" />
        </mat-form-field>
        <section>
          <mat-checkbox>Also send me marketing information about Oblivion.</mat-checkbox>
        </section>
        <button mat-raised-button>Submit</button>
      </div>
    </div>
  </body>

  <app-footer></app-footer>
</div>