<div class="dialog-container">
  <button mat-mini-fab color="disabled" aria-label="create" class="close-button">
    <mat-icon routerLink="../">close</mat-icon>
  </button>
  <app-header></app-header>

  <body>
    <ngx-slick-carousel class="dialog-carousel" #slickModal="slick-carousel" [config]="slideConfig"
    (init)="slickInit($event)" (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)"
    (beforeChange)="beforeChange($event)">
    <div ngxSlickItem *ngFor="let image of images" class="slide">
      <div class="window-images">
        <img src="{{ image.path }}">
      </div>
      <p class="slide-author">- {{ image.caption }}</p>
    </div>
  </ngx-slick-carousel>
  </body>

  <app-footer></app-footer>
</div>