<header>
  <div class="gohome">
    <img routerLink="/" src="../../assets/img/BookCover.jpg" alt="" />
  </div>
  <h1 id="desktop" routerLink="/"><strong>Oblivion</strong>&nbsp; <small>by </small><a href="https://robinhemley.com/">ROBIN HEMLEY</a></h1>
  <h1 id="mobile" routerLink="/"><strong>Oblivion</strong></h1>
  <div class="buttons-container">
  <button class="reviews-button" mat-raised-button (click)="routeToReviews()">
    Reviews
  </button>
  <button class="preorder-button" mat-raised-button (click)="routeToPreorder()">
    Order
  </button>
</div>
</header>