header {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100vw;
  z-index: 999;
  // background-color: rgba(255, 255, 255, 0.8);
  background-color: var(--ob-blue);
  height: 48px;
  padding-top: 2px;

  .gohome {
    z-index: 1;
    img {
      height: 100px;
      width: auto;
      transition: 0.3s;
      box-shadow: var(--boxshadow-big);
      margin: 6px 0 0 12px;
      cursor: pointer;
      transform: rotate(-6deg) translateY(-12px);
    }

    img:hover {
      transform: scale(1.02);
      filter: brightness(110%);
      transition: 0.3s;
    }
  }
  h1 {
    font-size: 20px;
    line-height: 56px;
    font-weight: 200;
    color: rgba(rgb(255, 255, 255), 0.7);
    cursor: pointer;

    small {
      color: currentColor;
    }

    strong {
      font-size: 30px;
      font-weight: 700;
      color: var(--ob-white);
    }

    a {
      color: currentColor;
      text-decoration: none;
      &:hover {
        color: var(--ob-yellow);
      }
    }
  }
  .buttons-container {
    margin-left: auto;
    .reviews-button {
      margin: 2px 4px;
      height: 42px;
      // line-height: 42px;
    }
    .preorder-button {
      margin: 2px 4px;
      height: 42px;
      // line-height: 42px;
    }
  }
  #mobile {
    display: none;
  }
}

@media screen and (max-width: 665px) {
  header {
    flex-wrap: nowrap;
    .gohome {
      display: none;
    }
    #desktop {
      display: none;
    }
    #mobile {
      display: block;
      margin-left: 12px;
    }
    .buttons-container {
      white-space: nowrap;
      button {
        padding: 0 8px;
        font-size: 16px;
        width: 85.59px !important;
      }
      .preorder-button {
        font-size: 16px;
        padding-left: 36px !important;
        margin-left: 0 !important;
        ::ng-deep .mat-button-wrapper::before {
          top: -9px !important;
          left: -28px !important;
        }
      }
    }
  }
}
