header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
  z-index: 3;
  // background-color: rgba(255, 255, 255, 0.8);
  background-color: var(--ob-blue);
  height: 48px;
  padding-top: 2px;

  .gohome {
    img {
      height: 100px;
      width: auto;
      transition: 0.3s;
      box-shadow: var(--boxshadow-big);
      margin: 6px 0 0 12px;
      cursor: pointer;
      transform: rotate(-6deg) translateY(-12px);
    }

    img:hover {
      transform: scale(1.02);
      filter: brightness(110%);
      transition: 0.3s;
    }
  }
  h1 {
    font-size: 20px;
    line-height: 50px;
    font-weight: 200;
    color: rgba(rgb(255, 255, 255), 0.7);

    small {
      color: rgba(rgb(255, 255, 255), 0.7);
    }

    strong {
      font-size: 30px;
      font-weight: 700;
      color: var(--ob-white);
    }
  }

  .preorder-button {
    margin: 2px 4px 2px auto;
    height: 42px;
    // line-height: 42px;
  }
  #mobile {
    display: none;
  }
}

// @media screen and (max-width: 500px) {
//   header {
//     #desktop {
//       display: none;
//     }
//     #mobile {
//       display: block;
//     }
//   }
// }

// @media screen and (max-width: 900px) and(max-height: 900px) {
//   header {
//     .preorder1 {
//       background-color: transparent;
//       img {
//         display: none;
//       }
//     }
//   }
// }

@media screen and (max-width: 600px) {
  header {
    position: relative;
    h1 {
      font-size: 4vw;
      white-space: nowrap;
      strong {
        font-size: 8vw;
      }
    }
    .preorder-button {
      position: absolute;
      top: 50px;
      right: 4px;
    }
  }
}
