<div class="dialog-container" style="height: calc(100% - 28px)">
  <app-header></app-header>
  <div class="playbill-container">
    <button mat-mini-fab color="disabled" aria-label="create" class="close-button" (click)="closeTypewriter()">
      <mat-icon>close</mat-icon>
    </button>
    <h1>THE YIDDISH THEATRE <i>& THE DYBBUK</i></h1>
    <div class="playbill-top">
      <img src="../../../../assets/img/dybbuk.jpg" alt="">
    </div>
    <div class="playbill-bottom">
      <p>
        Jewish people wrote and performed plays in Yiddish throughout the world as a part of the Yiddish Theatre. The
        range was broad: opera, comedy, satire, melodrama, realism. The narrator of Oblivion’s great-grandmother, Hanna,
        acted in the Yiddish Theatre, performing at the Café Savoy in Prague, watched by Franz Kafka and Max Brod. She
        was a member of Yitzhak Lowy’s troupe, a man she adored, but who broke her heart. Lowy had an idea for a play he
        never finished writing, called The Broken Vow, and he told his idea to S. Ansky on a train in 1913; Ansky then
        stole his idea and wrote the most famous play of the Yiddish Theatre, The Dybbuk. The Dybbuk is considered a
        revolutionary play in both Yiddish and mainstream theatre. It’s been translated into many languages and is still
        performed regularly all over the world.

        Our narrator, ____, finds a book in the library of Oblivion written by his friend, Jozef, titled A Nearly
        Illustrated History of the Yiddish Theatre in Europe. In it are pictures and descriptions of actors and plays
        ___ has seen while traveling through Time in Oblivion, and then a blank page, with this caption:

        From a production of The Broken Vow, Prague, 1919, Yitzhak Lowy’s troupe. Herschel Lowenstein as Chonen ben
        Nissn and Hanna Reimer as Leah.

        ____ says this is the “commemoration of an unwritten play performed by a non-existent cast.”

        Dybbuks are spirits of dead people who possess the bodies of the living. In Oblivion, if one travels too much
        throughout Time, one can become a dybbuk, which is even worse than being a customer in the Café of Minor
        Authors.
      </p>
    </div>
  </div>
  <div class="close-dialog" (click)="closeTypewriter()"></div>
</div>
<router-outlet></router-outlet>