<div class="dialog-container">
  <app-header></app-header>
  <div class="close-dialog" routerLink="../"></div>

  <body class="character-dialog">
    <div class="dialog-left">
      <div class="left-container">
        <div class="carousel-container">
          <h2>JOHN KENDRICK BANGS</h2>
          <div class="textfields">
            <p>Oh, dear. Are you suggesting that one of our patrons is in fact... <i>a major author</i>? What an
              embarrassing clerical error. Something must be done at once. Who has been misplaced? </p>
            <form [formGroup]="form" method="post" (ngSubmit)="onSubmit()">
              <mat-radio-group aria-label="Select an option" [formControl]="misplacedAuthor">
                <mat-radio-button value="Maudy" tabindex="1">Maudy</mat-radio-button>
                <mat-radio-button value="Gary" tabindex="2">Gary</mat-radio-button>
                <mat-radio-button value="Józef" tabindex="3">Józef</mat-radio-button>
                <mat-radio-button value="Else" tabindex="4">Else</mat-radio-button>
              </mat-radio-group>
              <br>
              <hr>
              <br>
              <mat-form-field class="name-field">
                <mat-label>&nbsp;&nbsp;Name</mat-label>
                <input matInput type="text" [formControl]="name" required tabindex="5" />
              </mat-form-field>
              <mat-form-field class="email-field">
                <mat-label>&nbsp;&nbsp;Email address</mat-label>
                <input matInput type="text" [formControl]="email" required tabindex="6" />
              </mat-form-field>
              <section>
                <mat-checkbox [formControl]="addToMailingList" tabindex="7">Add me to author Robin Hemley's
                  <em>mailing
                    list</em>.
                </mat-checkbox>
              </section>
              <button mat-raised-button [disabled]="isLoading" tabindex="8" type="submit"
                [ngStyle]="{ 'background': form.valid ? 'linear-gradient(to bottom, #3a6884, #192c38)' : 'linear-gradient(to bottom, #d3d4d4, #969898)' }">
                Submit
              </button>
              <input [formControl]="honeypot" class="hidden" type="text" style="display:none" />
              <div [ngClass]="!submitted? 'hidden' : 'visible'" class="center-text">
                <span>{{responseMessage}}</span>
              </div>
            </form>
          </div>
          <button mat-mini-fab color="disabled" aria-label="create" class="close-button" routerLink="../">
            <mat-icon>close</mat-icon>
          </button>
        </div>
        <div class="bubble-footer">
          <p class="signed-copy">
            <strong>Something is amiss.</strong> Talk to patrons to unravel the Café's mystery and receive a
            <strong style="color: var(--ob-yellow)"><u>signed copy</u></strong> of the book!
          </p>
        </div>
      </div>
    </div>
    <div class="dialog-right">
      <img id="bangs-img" src="../../../../assets/img/bangs-bust.png" alt="" />
    </div>
  </body>
  <footer class="character-footer-mobile">
    <button mat-mini-fab color="disabled" aria-label="create" class="close-button" routerLink="../">
      <mat-icon>close</mat-icon>
    </button>
  </footer>
  <app-footer></app-footer>
</div>
<router-outlet></router-outlet>