.dialog-container {
::ng-deep body {
    color: var(--accent-purple);
    flex-direction: row;
    .dialog-left {
        .left-container {
            .carousel-container::before {
                content: "";
                background-color: currentColor;
            }
            .carousel-container::after {
                filter: opacity(0.4) drop-shadow(0 0 0 currentColor) saturate(300%) brightness(90%);
            }
            .carousel-container {
                background-color: var(--bg-accent-purple);
                h2 {
                    color: currentColor;
                }
                .dialog-carousel {
                    .slide {
                        .quote-text {
                            .slide-intro {
                                color: currentColor;
                            }
                        }
                    }
                }
            }
            .bubble-footer {
                .audiobook {
                    .ab-img {
                        button {
                            right: -20px;
                        }
                    }
                }
            }
        }
    }
    .dialog-right {
        #bangs-img {
            transform: translate(25%) rotateY(180deg) !important;
        }
    }
    ::ng-deep .slick-arrow {
        color: var(--accent-purple);
        border-radius: 0;
        background-color: currentColor;
        &::before {
            color: currentColor;
        }
        &:focus {
            background-color: currentColor !important;
        }
        &:hover {
            background-color: currentColor !important;
        }
    }
}

    .character-footer-mobile::before,
    .character-footer-mobile::after {
        background-color: var(--accent-purple) !important;
    }
}
