.dialog-container {
    ::ng-deep body {
        color: var(--accent-purple);
        flex-direction: row;

        .hidden {
            display: none
        }
        .visible {
            display: block
        }
        .center-text {
            text-align: center
        }
        form.contact {
            display: flex;
            flex-direction: column;
            max-width: 200px;
            width: 200px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 30px;
        }

        .dialog-left {
            z-index: 2 !important;
            .left-container {
                .carousel-container {
                    background-color: var(--bg-accent-purple);
                
                    h2 {
                        color: currentColor;
                        cursor: pointer;
                    }

                    .bangs-info {
                        position: absolute;
                        top: 97px;
                        right: 2px;
                        height: fit-content;
                        width: 200px;
                        background-color: black;
                        color: white;
                        padding: 16px;
                        border-radius: 10px;
                        z-index: 1;
                    }
                    .bangs-info::after {
                        content: '';
                        height: 0px;
                        width: 0px;
                        position: absolute;
                        top: -10px;
                        right: 63%;
                        border-left: 15px solid transparent;
                        border-right: 15px solid transparent;
                        border-bottom: 15px solid black;
                    }

                    .textfields {
                        margin: 0 10%;
                        color: black;

                        p {
                            font-size: 22px;
                            line-height: 1.2;
                        }

                        form {
                            padding-bottom: 65px;
                            position: relative;

                            mat-radio-group {
                                display: flex;
                                flex-direction: row;
                                flex-wrap: wrap;
                                gap: 6px;
                                font-size: 20px;
                                font-weight: 700;
                                margin: 20px auto 10px;

                                mat-radio-button {
                                    flex: 1;

                                    ::ng-deep .mat-radio-outer-circle {
                                        border-color: rgb(29, 106, 142);
                                    }
                                }
                            }

                            mat-form-field {
                                margin-bottom: 10px;

                                ::ng-deep .mat-form-field-wrapper {
                                    .mat-form-field-flex {
                                        border: 1px solid rgb(29, 106, 142);
                                        border-radius: 5px;
                                    }
                                }
                            }

                            .name-field {
                                width: 40%;
                                float: left;
                            }

                            .email-field {
                                width: 55%;
                                float: right;
                            }

                            section {
                                text-align: center;

                                ::ng-deep .mat-checkbox-label {
                                    white-space: normal;
                                }
                            }

                            button {
                                position: absolute;
                                bottom: 0;
                                left: 50%;
                                z-index: 1;
                                transform: translate(-50%);
                                font-size: 26px;
                                padding: 6px 20px 2px;
                                border-radius: 5px;
                                color: var(--ob-white);
                                background: linear-gradient(to bottom, #3a6884, #192c38);
                            }
                        }
                    }
                }

                .bubble-footer {
                    .audiobook {
                        .ab-img {
                            button {
                                right: -20px;
                            }
                        }
                    }
                }
            }
        }

        .dialog-right {
            z-index: 1 !important;
            #bangs-img {
                transform: translate(25%) rotateY(180deg) !important;
                z-index: 99 !important;
            }
        }

        ::ng-deep .slick-arrow {
            color: var(--accent-purple);
            border-radius: 0;
            background-color: currentColor;

            &::before {
                color: currentColor;
            }

            &:focus {
                background-color: currentColor !important;
            }

            &:hover {
                background-color: currentColor !important;
            }
        }
    }

    .character-footer-mobile::before,
    .character-footer-mobile::after {
        display: none;
    }
}

@media screen and (orientation: portrait) and (max-width: 700px) {
    .dialog-container {
        body {
            .dialog-left {
                .left-container {
                    .carousel-container {
                        overflow-y: auto;
                        overflow-x: hidden;
                        ;
                        max-height: 48vh;
                        padding-bottom: 20px;
                    }
                }
            }
        }
    }
}

@media screen and (orientation: portrait) {
    .dialog-container {
        body {
            .dialog-left {
                .left-container {
                    .carousel-container {
                        .bangs-info {
                            top: 64px;
                        }
                        .bangs-info::after {
                            right: 22%;
                        }
                        button {
                            bottom: 5px;
                            
                        }
                    }
                }
            }
        }
    }
}

@media screen and (orientation: landscape) and (max-height: 600px) {
    .dialog-container {
        body {
            .dialog-left::after {
                content: '';
                background-image: url(../../../../assets/img/bangs-bust.png);
                background-size: contain;
                position: absolute;
                background-repeat: no-repeat;
                transform: rotateY(180deg);
                left: 73%;
                height: 181vh;
                width: 100%;

            }
            .dialog-right {
                img {
                    display: none;
                }
            }
        }
    }
}