.dialog-container {
  .character-dialog {
    flex-direction: row-reverse !important;
    .dialog-left {
      .carousel-container {
        h2 {
          color: var(--accent-purple);
      }
      }
      .bubble-footer {
        flex-direction: row-reverse !important;
      }
    }
    .dialog-right {
      img {
        right: -28% !important;
        top: 208px !important;
        transform: scale(9.5) !important;
        filter: drop-shadow(0 0 2px white);
      }
    }
  }
  ::ng-deep .slick-arrow {
    border-radius: 0;
    background-color: var(--accent-purple);
    &::before {
      color: var(--accent-purple);
    }
    &:focus {
      background-color: var(--accent-purple) !important;
    }
    &:hover {
      background-color: var(--accent-purple) !important;
    }
  }
}
