.dialog-container {
  color: var(--accent-purple);
  .character-dialog {
    flex-direction: row-reverse !important;
    .dialog-left {
      .carousel-container::before {
        content: "";
        background-color: currentColor;
      }
      .carousel-container {
        h2 {
          color: currentColor;
        }
      }
      .bubble-footer {
        flex-direction: row-reverse !important;
      }
    }
    .dialog-right {
      img {
        right: -28% !important;
        top: 208px !important;
        transform: scale(9.5) !important;
        filter: drop-shadow(0 0 2px white);
      }
    }

    ::ng-deep .slick-arrow {
      color: var(--accent-purple);
      border-radius: 0;
      background-color: currentColor;
      &::before {
        color: currentColor;
      }
      &:focus {
        background-color: currentColor !important;
      }
      &:hover {
        background-color: currentColor !important;
      }
    }
  }
}
