<div class="dialog-container">
  <button mat-mini-fab color="disabled" aria-label="create" class="close-button">
    <mat-icon routerLink="../">close</mat-icon>
  </button>
  <div class="close-dialog" routerLink="../"></div>
  <!-- <app-header></app-header> -->

  <body>
    <h1>Wall of Exceptionally Minor Authors</h1>
    <div class="author-wall">
      <div class="author" *ngFor="let author of authors">
        <img src="{{ author.path }}" alt="">
        <p>{{ author.name }}</p>
      </div>
    </div>
    <div class="author-wall-mobile">
      <ngx-slick-carousel class="dialog-carousel" #slickModal="slick-carousel" [config]="slideConfig"
        (init)="slickInit($event)" (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)"
        (beforeChange)="beforeChange($event)">
        <div ngxSlickItem *ngFor="let author of authors" class="slide">
          <img src="{{ author.path }}" alt="">
        <p>{{ author.name }}</p>
        </div>
      </ngx-slick-carousel>
       </div>
  </body>
</div>
<router-outlet></router-outlet>