<div class="dialog-container">
  <app-header></app-header>
  <div class="close-dialog" routerLink="../"></div>

  <body class="character-dialog">
    <div class="dialog-left">
      <div class="left-container">
        <div class="carousel-container">
          <h2>JÓZEF WOZEK</h2>
          <ngx-slick-carousel class="dialog-carousel" #slickModal="slick-carousel" [config]="slideConfig">
            <div ngxSlickItem *ngFor="let slide of slides" class="slide">
              <div class="quote-text">
                <p class="slide-intro" *ngIf="slide.intro.length > 0">{{ slide.intro }}</p>
                <p class="slide-quote">"{{ slide.quote }}"</p>
                <p class="slide-author" *ngIf="slide.author.length > 0" [innerHTML]="slide.author"></p>
                <p class="slide-title" *ngIf="slide.title.length > 0">{{ slide.title }}</p>
              </div>
            </div>
          </ngx-slick-carousel>
          <button mat-mini-fab color="disabled" aria-label="create" class="close-button">
            <mat-icon routerLink="../">close</mat-icon>
          </button>
        </div>
        <div class="bubble-footer">
          <p>
            Talk to patrons to unravel the Café's mystery and you could win a <a href="">free audiobook</a>!
          </p>
        </div>
      </div>
    </div>
    <div class="dialog-right">
      <img id="jozef-w" src="../../../../assets/img/jozef-wozek.png" alt="" />
    </div>
  </body>
  <footer class="character-footer-mobile">
    <button mat-mini-fab color="disabled" aria-label="create" class="close-button" routerLink="../">
      <mat-icon>close</mat-icon>
    </button>
  </footer>
  <app-footer></app-footer>
</div>
<router-outlet></router-outlet>