.preorder-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  text-align: center;
  position: relative;
  width: clamp(770px, 50vw, 900px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  .preorder-left {
    filter: drop-shadow(2px 4px 6px black);
    background-color: var(--white-opacity);
    max-width: 50%;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    .box-header {
      // min-height: 100px;
      // height: 14vh;
      flex: 60;
      display: table;
      margin: 16px auto 0;
      .book-title {
        display: table-cell;
        vertical-align: middle;
        h1 {
          margin: 0;
          font-weight: 700;
          font-size: 30px;
        }
        h2 {
          font-size: 16px;
          font-style: oblique;
          margin: 0;
        }
        hr {
          margin: 0 30% 8px;
          border-style: groove;
        }
        span {
          font-size: 16px;
        }
      }
    }
    .author-blurbs {
      flex: 100;
      max-width: 100vw;
      .carousel {
        border-radius: 10px;
        ::ng-deep .slick-prev {
          left: -20px !important;
        }
        .slide {
          min-height: 138px;
          height: 18vh;
          display: table;
          .quote-text {
            display: table-cell;
            vertical-align: middle;
            font-size: 18px;
            i {
              display: -webkit-box;
              -webkit-line-clamp: 4;
              -webkit-box-orient: vertical;
              overflow: hidden;
              max-width: 320px;
              margin: 0 auto;
              line-height: 1.2;
            }
            p {
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              max-width: 320px;
              margin: 0 auto;
            }
          }
        }
      }
    }
    .yellow-section {
      padding: 4px 16px;
      flex: 90;
      .call-to-action1 {
        background-color: var(--ob-yellow);
        border: 1px solid black;
        border-radius: 10px;
        padding: 0 6px;
        display: flex;
        flex-direction: column;
        height: 100%;
        overflow-x: auto;
        position: relative;
        .alert-message {
          position: absolute;
          top: 4px;
          left: 50%;
          transform: translate(-50%);
        }
        .signup-form {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          flex: 1;
          align-items: flex-end;
          mat-icon {
            color: black;
            font-size: 45px;
            width: 45px;
            height: 45px;
            margin: 6px 4px 4px 0;
          }
          mat-form-field {
            position: relative;
            top: 3px;
            flex: 1;
            transform: translateY(10px);
            ::ng-deep .mat-form-field-wrapper {
              .mat-form-field-infix {
                background: white;
                box-shadow: var(--boxshadow);
              }
            }
          }

          button {
            background: var(--ob-yellow);
            position: relative;
            right: 6px;
            margin: 0 auto;
            height: 50px;
          }
        }
        .download-buttons {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          flex: 1;
          align-items: center;
          button {
            max-height: 45px;
            margin: 0 auto;
            width: fit-content;
          }
        }
      }
    }
    .call-to-action2 {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      // min-height: 162px;
      // height: 20vh;
      flex: 100;
      .audiobook {
        position: relative;
        flex: 1;
        .ab-img {
          position: relative;
          height: 100%;
          width: 100%;
          img {
            height: auto;
            width: 100%;
            object-fit: cover;
            position: absolute;
            bottom: -20px;
            left: -10px;
            border-radius: 10px;
            box-shadow: var(--boxshadow);
          }
          button {
            position: absolute;
            top: 20px;
            right: 10px;
            background: black;
            color: white;
            transform: scale(1.6);
            box-shadow: var(--boxshadow);
          }
        }
      }
      .order-buttons {
        flex: 2;
        margin: 18px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: auto;
        .book-order {
          height: 50px;
          font-size: 20px;
          min-width: 80%;
          margin: 0 auto;
        }
        .audiobook-order {
          font-size: 14px;
          font-weight: 700;
          min-width: 80%;
          margin: 0 auto;
        }
        span {
          font-size: 12px;
        }
      }
    }
  }
  .preorder-right {
    flex: 1;
    height: 100%;
    position: relative;
    a {
      img {
        height: auto;
        width: 100%;
        border-radius: 5px;
        transform: scale(1.05);
        transform-origin: top left;
      }
    }
    .gradient-shadow {
      position: absolute;
      width: 500px;
      height: 500px;
      bottom: -64px;
      transform-origin: bottom center;
      left: 50%;
      transform: translate(-50%) scale(150%, 13%);
      background: rgb(0, 0, 0);
      background: radial-gradient(circle, black 21%, rgba(0, 0, 0, 0.65) 44%, rgba(255, 255, 255, 0) 74%);
      z-index: -1;
    }
  }
  .close-button {
    position: absolute;
    top: 0px;
    right: -24px;
    background: black;
    color: white;
    border: 6px solid rgb(0, 0, 0);
    mat-icon {
      position: relative;
      bottom: 7px;
      font-weight: 900;
    }
  }
}
