<div class="preorder-container">
  <div class="preorder-left">
    <div class="box-header">
      <div class="book-title">
        <h1>Oblivion</h1>
        <h2>An After Autobiography</h2>
        <hr />
        <span>Arriving<strong>&nbsp;&nbsp;JUNE 1, 2022&nbsp;&nbsp;</strong>from &nbsp;<h3>ROBIN HEMLEY</h3>
        </span>
      </div>
    </div>
    <div class="author-blurbs">
      <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig"
        (init)="slickInit($event)" (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)"
        (beforeChange)="beforeChange($event)">
        <div ngxSlickItem *ngFor="let slide of slides" class="slide">
          <div class="quote-text">
            <p class="slide-quote">"{{ slide.quote }}"</p>
            <br />
            <span class="slide-author">{{ slide.author }}</span><br>
            <i class="slide-title">{{ slide.title }}</i>
          </div>
        </div>
      </ngx-slick-carousel>
    </div>
    <div class="email-form">
      <span class="alert-message">Join the Oblivion email newsletter:</span>
      <div class="signup-form">
        <mat-icon>mail</mat-icon>
        <mat-form-field>
          <mat-label>&nbsp;&nbsp;email address</mat-label>
          <input matInput type="text" />
        </mat-form-field>
        <button mat-raised-button>Sign Up</button>
      </div>
    </div>
    <div class="order-buttons">
      <button mat-raised-button class="preview">
        <mat-icon>picture_as_pdf</mat-icon>
        <p>
          <span>Preview</span><br>
          PDF Download
        </p>
      </button>
      <button mat-raised-button class="book-order">
        Preorder
      </button>
    </div>
    <div class="audiobook">
      <span><a href="#">Audiobook available</a> from
        <strong>Blackstone Publishing</strong></span>
    </div>
  </div>
  <div class="preorder-right">
    <a href="#">
      <img src="../../../assets/img/BookCover.jpg" alt="" />
    </a>
  </div>
  <button mat-mini-fab color="disabled" aria-label="create" class="close-button">
    <mat-icon routerLink="../">close</mat-icon>
  </button>
</div>