<div class="preorder-container" [ngClass]="infoSlide ? 'containerA' : 'containerB'">
  <div class="close-dialog" routerLink="../"></div>
  <div class="preorder-left">
    <div class="box-header">
      <div class="book-title">
        <h1>Oblivion</h1>
        <h2>An After Autobiography</h2>
        <hr />
        <span class="pre-launch">Arriving<strong>&nbsp;&nbsp;JUNE 1, 2022&nbsp;&nbsp;</strong>from &nbsp;<a href="https://robinhemley.com/">
            <h3>ROBIN HEMLEY⏵</h3>
          </a>
        </span>
        <span class="launch"><a href="https://robinhemley.com/" style="width: 100%">
          <h3>ROBIN HEMLEY⏵</h3>
        </a> 
      </span>
      </div>
    </div>
    <div class="author-blurbs">
      <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
        <div ngxSlickItem *ngFor="let slide of slides" class="slide">
          <div class="quote-text">
            <p class="slide-quote">"{{ slide.quote }}"</p>
            <br />
              <p class="slide-author">{{ slide.author }}</p>
              <p class="slide-title">{{ slide.title }}</p>
          </div>
        </div>
      </ngx-slick-carousel>
      <a routerLink="../preorder/reviews">
        <button mat-button>
          Read all reviews⏵
        </button>
      </a>
    </div>
    <div class="email-form">
      <span class="alert-message">Join the Oblivion email newsletter:</span>
      <div class="signup-form">
        <img src="../../../assets/img/envelope.png" alt="" class="mail">
        <mat-form-field>
          <mat-label>&nbsp;&nbsp;email address</mat-label>
          <input matInput type="text" />
        </mat-form-field>
        <button mat-raised-button>Sign Up</button>
      </div>
    </div>
    <div class="order-buttons">
      <button mat-raised-button class="preview">
        <img src="../../../assets/img/acrobat.png" alt="">
        <p>
          <span>Preview</span><br>
          PDF Download
        </p>
      </button>
      <a href="https://bookshop.org/books/oblivion-9781637527818/9781637527818">
        <button mat-raised-button class="book-order preorder-button">
          Order
        </button>
      </a>
    </div>
    <div class="audiobook">
      <span><a href="#">Audiobook available</a> from
        <strong>Blackstone Publishing</strong></span>
    </div>
  </div>
  <div class="preorder-right">
      <img src="../../../assets/img/BookCover.jpg" alt="" />
  </div>
  <button mat-mini-fab color="disabled" aria-label="create" class="close-button" (click)="closeInfo()">
    <mat-icon>close</mat-icon>
  </button>
</div>
<router-outlet></router-outlet>