<div class="dialog-container">
    <button
      mat-mini-fab
      mat-dialog-close
      color="disabled"
      aria-label="create"
      class="close-button"
    >
      <mat-icon>close</mat-icon>
    </button>
    <button
      mat-mini-fab
      mat-dialog-close
      color="disabled"
      aria-label="create"
      class="close-button"
    >
      <mat-icon>close</mat-icon>
    </button>
    <header>
        <a href="/order" class="preorder1">
          <img src="../../assets/img/temp-book-cover.jpg" alt="" />
        </a>    
        <h1><strong>Oblivion</strong> by Robin Hemley</h1>
        <a href="/order" class="preorder2">
          <button mat-raised-button color="primary">Info/Pre-order</button>
        </a>
      </header>
    
      <footer>
        <div class="f-left">
          <a href="/contact" class="contact">
            <button mat-button aria-label="contact-button">
              <mat-icon>mail</mat-icon>Contact
            </button>
          </a>
        </div>
        <div class="f-right">
          <span class="image-info">
            <mat-icon>photo_camera</mat-icon>
            <small>Art Deco Imperial Hotel, Prague c. 1910</small>
          </span>
          <a href="/about" class="info">
            <button mat-icon-button aria-label="about button">
              <mat-icon>help</mat-icon>
            </button>
          </a>
        </div>
      </footer>
    </div>