.dialog-container {
    .character-dialog {
      .dialog-right {
        img {
            right: 50px !important;
            top: 192px !important;
            transform: scale(1.5) !important;
        }
      }
    }
  }
  