.lp-wrapper {
  background-color: var(--lp-bg);
  max-height: 100vh;
  height: 100%;
  max-width: 100vw;
  width: 100%;
  position: fixed;

  // cafe smoke animation
  .containerA {
    .cafe-container {
      .cafe-clip::before {
        content: "";
        height: 100%;
        width: calc(100% + 200px);
        position: absolute;
        top: 0;
        left: -200px;
        background-image: url(../../assets/img/Smoke-1b.png);
        background-repeat: repeat;
        z-index: 1;
        mix-blend-mode: hard-light;
        animation: smoke1 17s infinite alternate ease-in-out;
        pointer-events: none;
      }
      .cafe-clip::after {
        content: "";
        height: 100%;
        width: calc(100% + 200px);
        position: absolute;
        top: -50px;
        right: -200px;
        background-image: url(../../assets/img/Smoke-2b.png);
        background-repeat: repeat;
        z-index: 2;
        mix-blend-mode: hard-light;
        animation: smoke2 13s infinite alternate ease-in-out;
        pointer-events: none;
      }
    }

    @keyframes smoke1 {
      0% {
        left: -200px;
        opacity: 0.6;
        top: 0;
      }
      25% {
        top: 0;
        opacity: 0.3;
      }
      50% {
        top: -25px;
        opacity: 0.5;
      }
      75% {
        top: -25px;
        opacity: 0.2;
      }
      100% {
        left: 0;
        top: -50px;
        opacity: 0.3;
      }
    }

    @keyframes smoke2 {
      0% {
        right: -200px;
        top: 0;
        opacity: 0.2;
      }
      25% {
        top: -15px;
        opacity: 0.5;
      }
      50% {
        top: -25px;
        opacity: 0.3;
      }
      75% {
        top: -45px;
        opacity: 0.6;
      }
      100% {
        right: 0;
        top: -50px;
        opacity: 0.4;
      }
    }
  }

  // "enter cafe" animation
  .containerB {
    max-width: initial !important;
    width: initial !important;
    .bg-cafe {
      -webkit-animation: opac-in 1.5s forwards;
      animation: opac-in 1.5s forwards;
      z-index: 1;
    }
    @-webkit-keyframes opac-in {
      0% {
        opacity: 0;
        -webkit-transform: translate(-50%, -50%) scale(0.7);
      }
      40% {
        opacity: 0.05;
        -webkit-transform: translate(-50%, -50%) scale(0.7);
      }
      75% {
        opacity: 0.1;
        -webkit-transform: translate(-50%, -50%) scale(0.8);
        clip-path: ellipse(45% 50%);
      }
      100% {
        opacity: 0.5;
        -webkit-transform: translate(-50%, -50%) scale(1);
        clip-path: ellipse(90% 90%);
      }
    }
    @keyframes opac-in {
      0% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.7);
      }
      40% {
        opacity: 0.05;
        transform: translate(-50%, -50%) scale(0.7);
      }
      75% {
        opacity: 0.1;
        transform: translate(-50%, -50%) scale(0.8);
        clip-path: ellipse(45% 50%);
      }
      100% {
        opacity: 0.5;
        transform: translate(-50%, -50%) scale(1);
        clip-path: ellipse(90% 90%);
      }
    }
    .cafe-container {
      top: 0 !important;
      max-width: 1920px !important;
      max-height: 1984px !important;
      width: 100vw !important;
      height: calc(100vw * 1.0333333333) !important;
      transition: 1.5s !important;
      animation: opac 1.5s;

      .text-container {
        opacity: 0;
        transition: 1s;
      }

      .cafe-clip {
        animation: clip 1.5s forwards;

        .cafe-image {
          height: 100% !important;
          width: 100% !important;

          img {
            object-fit: contain !important;
            height: 100% !important;
            width: 100% !important;
            // object-position: top !important;
          }
        }
        .cafe-image::after {
          content: "";
          height: 100%;
          width: 100%;
          animation: opac 1.5s forwards;
        }

        .cafe-bottom-border {
          width: 100% !important;
          top: 100vh !important;
          transition: top 2.5s;
        }

        .bottom-border {
          top: 100vh !important;
          transition: 2.5s;
        }
      }

      @keyframes clip {
        0% {
          clip-path: ellipse(45% 50%);
        }
        70% {
          clip-path: ellipse(45% 50%);
        }
        100% {
          clip-path: ellipse(70% 75%);
        }
      }
    }
    .butler-container {
      opacity: 0;
      transition: 1.5s;
      top: 25% !important;
      left: -100px !important;
      .butler-text {
        display: none;
      }
    }

    .footer-content {
      animation: opac 1.5s forwards;
      transition: 1.5s;
    }
  }

  @keyframes opac {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  .lp-container {
    --lp-shadow-color: rgb(115, 104, 104);
    max-width: 1555px;
    width: calc(99vh * 1.3862067);
    height: 100vh;
    position: relative;
    margin: 0 auto;
    .bg-cafe {
      opacity: 0;
      clip-path: ellipse(45% 50%);
      height: 100vh;
      width: 100vw;
      position: fixed;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%) scale(0.7);
      transform: translate(-50%, -50%) scale(0.7);
      transform-origin: center;
      pointer-events: none;
      background-image: url(../../assets/img/cafe-art.jpg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }

    .cafe-mobile {
      display: none;
    }

    .cafe-container::before {
      content: '';
      height: 20%;
      width: 0;
      position: absolute;
      left: 50%;
      top: -20%;
      z-index: 1;
      transform: translate(-50%);
      border-left: 50vw solid var(--lp-bg);
      border-right: 50vw solid var(--lp-bg);
      border-bottom: 10px solid transparent;
    }

    .cafe-container::after {
      content: '';
      height: 100%;
      width: 100%;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -86%) scale(88.5%);
      border-left: 20px solid var(--lp-bg);
      border-right: 20px solid var(--lp-bg);
      border-bottom: 230px solid transparent;
      // border: 10px solid blue;
    }

    .cafe-container {
      min-width: 900px;
      min-height: 930px;
      width: calc(98vh * 0.9677419);
      height: 98vh;
      max-width: 1500px;
      max-height: 1550px;
      position: absolute;
      top: 200px;
      left: 50%;
      transform: translate(-50%);
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;

      .panel-left {
        z-index: 99;
        grid-column: 1;
        grid-row: 1;
        cursor: pointer;
        margin: 10% 0 0 15%;
        border-top-left-radius: 100%;
      }

      .panel-left:hover ~ .cafe-clip {
        transform: rotateY(8.5deg);
        transition: transform 1s ease-in-out;

        .cafe-image {
          img {
            -webkit-transform: translate(-20px) scale(1.02);
            transform: translate(-20px) scale(1.02);
            transition: 1s ease-in-out;
          }
        }
        .cafe-image::before {
          opacity: 35%;
          left: 50%;
          transition: 1s ease-in-out;
        }
      }

      .panel-left:hover ~ .text-container {
        img {
          -webkit-transform: rotateY(10deg) scale(1.02);
          transform: rotateY(10deg) scale(1.02);
          filter: drop-shadow(4px 0px 4px var(--lp-shadow-color));
          transition: 1s ease-in-out;
        }
      }

 

      .panel-right {
        z-index: 99;
        grid-column: 3;
        grid-row: 1;
        cursor: pointer;
        margin: 10% 15% 0 0;
        border-top-right-radius: 100%;
        // background: rgba(green, .2);
      }
      .panel-right:hover ~ .cafe-clip {
        transform: rotateY(-8.5deg);
        transition: transform 1s ease-in-out;

        .cafe-image {
          img {
            -webkit-transform: translate(20px) scale(1.02);
            transform: translate(20px) scale(1.02);
            transition: 1s ease-in-out;
          }
        }
        .cafe-image::before {
          opacity: 35%;
          left: -50%;
          transition: 1s ease-in-out;
        }
      }

      .panel-right:hover ~ .text-container {
        img {
          -webkit-transform: rotateY(-10deg) scale(1.02);
          transform: rotateY(-10deg) scale(1.02);
          filter: drop-shadow(-4px 0px 4px var(--lp-shadow-color));
          transition: 1s ease-in-out;
        }
      }

      .panel-center {
        z-index: 99;
        grid-column: 2;
        grid-row: 1;
        cursor: pointer;
        border-top-left-radius: 12%;
        border-top-right-radius: 12%;
      }
      .panel-center:hover ~ .cafe-clip {
        .cafe-image {
          img {
            -webkit-transform: scale(1.03);
            transform: scale(1.03);
            transition: 1s ease-in-out;
          }
        }
      }

      .panel-center:hover ~ .text-container {
        img {
          -webkit-transform: scale(1.03);
          transform: scale(1.03);
          transition: 1s ease-in-out;
        }
      }

      .text-container {
        text-align: center;
        height: auto;
        width: 42%;
        position: absolute;
        top: -8.5%;
        left: 50%;
        transform: translate(-50%);
        z-index: 2;

        img {
          height: auto;
          width: 100%;
          object-fit: contain;
          transition: 1s ease-in-out;
          filter: drop-shadow(0px 0px 0px var(--lp-shadow-color));
        }
      }

      .bottom-border {
        height: 50%;
        width: 110%;
        position: absolute;
        top: calc(50% + 8px);
        z-index: 1;
        left: 50%;
        transform: translate(-50%);
        background-color: var(--lp-bg);
        pointer-events: none;
    }
     
      .cafe-clip {
        width: 100%;
        height: 100%;
        clip-path: ellipse(45% 50%);
        background-repeat: no-repeat;
        padding: 0px;
        transition: 0s;
        grid-row: 1/3;
        grid-column: 1/4;
        pointer-events: none;
        transition: transform 1s ease-in-out;
        box-shadow: var(--boxshadow);
        filter: drop-shadow(1px 1px 2px black);

        .cafe-image {
          height: 100%;
          width: 100%;
          pointer-events: none;

          img {
            object-fit: contain;
            height: 100%;
            width: 100%;
            object-position: 0 -30%;
            filter: blur(2px);
            transition: 1s;
          }

          .panel-left:hover ~ img {
            transform: translate(-20px);
            transition: 1s ease-in-out;
          }
        }
        .cafe-image::before {
          content: "";
          height: 100%;
          width: 100%;
          position: absolute;
          background: linear-gradient(to right, transparent, white, transparent);
          opacity: 10%;
          left: 0%;
          top: 0;
          z-index: 3;
          pointer-events: none;
          transition: 1s ease-in-out;
        }
        .cafe-image::after {
          content: "";
          height: 100%;
          width: 100%;
          position: absolute;
          top: 0;
          left: 0;
          -webkit-transform: scaleX(0.9) scaleY(1.04);
          transform: scaleX(0.9) scaleY(1.04);
          z-index: 2;
          pointer-events: none;
          background: radial-gradient(circle, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 66%, rgb(84, 3, 3) 72%);
        }

        .cafe-bottom-border {
          height: 50%;
          width: 100%;
          position: absolute;
          z-index: 3;
          top: 50%;
          left: 50%;
          transform: translate(-50%);
          border-top: 8px solid var(--ob-red);
          background-color: var(--lp-bg);
          pointer-events: none;
        }
      }
    }

    .butler-container {
      position: absolute;
      top: 300px;
      left: calc(50% - 400px);
      -webkit-transform: translate(-50%);
      transform: translate(-50%);
      height: 58%;
      width: fit-content;
      pointer-events: none;
      filter: drop-shadow(0 0 20px var(--lp-shadow-color));
      transition: 1s ease-in-out;

      .butler-text {
        position: absolute;
        top: -228px;
        left: -65px;
        background-color: black;
        color: var(--ob-white);
        text-align: center;
        height: fit-content;
        width: 240px;
        padding: 10px 15px;
        border-radius: 12px;
        transition: 1s ease-in-out;
        h4 {
          font-size: 24px;
        }
        p {
          font-size: 18px;
          margin: 0 10px 12px;
          opacity: 0.7;
        }
      }

      .butler-text::after {
        content: "";
        height: 0;
        width: 0;
        position: absolute;
        bottom: -15px;
        right: 48px;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 15px solid black;
        transition: 1s ease-in-out;
      }
      .butler-image {
        width: 290px;
        max-width: 17vw;
        height: 100%;
        .butler {
          height: auto;
          width: 90%;
          transition: 1s ease-in-out;
        }
        .podium {
          position: absolute;
          top: 45%;
          left: 0;
          width: 100%;
          height: auto;
          // transform: rotateY(6deg);
          transition: 1s ease-in-out;
        }
      }
    }

      // bangs left hover
    .class1 {
      filter: drop-shadow(14px 0 20px var(--lp-shadow-color));
      transition: 1s ease-in-out;
      
      .butler-text {
        transform: rotate3d(5, 6, -12, -1deg) translate(5px);
        transition: 1s ease-in-out;
        
      }
      .butler-text::after {
        transform: rotate3d(5, 6, 12, -1deg);
        transition: 1s ease-in-out;
      }
      .butler-image {
        -webkit-transform: rotateY(10deg);
        transform: rotateY(10deg);
        transition: 1s ease-in-out;
      }
    }

      // bangs right hover
    .class2 {
      filter: drop-shadow(-14px 0 20px var(--lp-shadow-color));
      transition: 1s ease-in-out;
      
      .butler-text {
        transform: rotate3d(5, 6, -12, 1deg) translate(-5px);
        transition: 1s ease-in-out;
        
      }
      .butler-text::after {
        transform: rotate3d(5, 6, 12, 1deg);
        transition: 1s ease-in-out;
        
      }
      .butler-image {
        -webkit-transform: rotateY(-10deg);
        transform: rotateY(-10deg);
        transition: 1s ease-in-out;
      }
    }

    // bangs center hover
    .class3 {
      .butler-image {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
        transition: 1s ease-in-out;
      }
    }

    .enter {
      background: rgb(0, 0, 0);
      color: var(--ob-white);
      opacity: 0.7;
      padding: 6px 28px 2px;
      letter-spacing: 2px;
      font-size: 20px;
      border-radius: 12px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .enter:hover {
      opacity: 1;
    }

    .footer-mobile {
      display: none;
    }
    .footer-content {
      position: fixed;
      bottom: 10px;
      right: 15%;
      height: 250px;
      width: fit-content;
      z-index: 5;
      .book-info {
        position: absolute;
        left: -295px;
        top: 50%;
        transform: translateY(-50%);
        height: 90%;
        width: 300px;
        background: var(--ob-blue);
        z-index: -1;
        border-radius: 5px;
        box-shadow: var(--boxshadow);
        text-align: center;
        color: var(--ob-white);

        h1 {
          padding: 20px 0 0;
          font-size: 40px;
          margin: 6px 0 0 0;
        }
        h2 {
          margin: 0;
          letter-spacing: 2px;
        }
        hr {
          margin: 8px 105px 14px;
        }
        h3 {
          margin: 0 0 16px 0;
          line-height: 20px;
        }
        span {
          color: rgba(255, 255, 255, 0.4);
          strong {
            color: var(--ob-white);
          }
        }
        .info-bottom {
          width: 100%;
          height: fit-content;
          padding: 7px 0;
          border-bottom-left-radius: 5px;
          button {
            width: 90%;
            background-color: var(--ob-yellow);
            font-weight: bold;
            color: var(--ob-blue);
            font-size: 16px;
            letter-spacing: 1px;
            text-shadow: 0 0 0px var(--ob-blue);
          }
        }
      }
      img {
        height: 100%;
        width: auto;
        object-fit: contain;
        filter: drop-shadow(2px 3px 6px black);
        transform: rotate(4deg) translate(-6px);
      }
    }
  }

  // ::ng-deep footer {
  //   width: 100%;
  //   position: absolute;
  //   bottom: 0;
  //   left: 0;
  //   .f-right {
  //     display: none;
  //   }
  // }
}

@media screen and (orientation: landscape) and (min-height: 950px) {
  .lp-wrapper {
    .lp-container {
      .butler-container {
        left: 19vw;
      }
    }
  }
}

@media screen and (orientation: landscape) and (max-height: 700px) and (max-width: 1000px) {
  .lp-wrapper {
    max-height: initial;
    height: 1000px;
    max-width: initial;
    width: 1000px;
    overflow: auto;
    position: absolute;
  }
}



@media screen and (orientation: portrait) and (min-height: 928px) {
  .lp-wrapper {
    .lp-container {
      width: 100vw;
      .cafe-container {
        top: 63%;
        -webkit-transform: translate(-50%, -50%) scale(0.8);
        transform: translate(-50%, -50%) scale(0.8);
        .butler-container {
          top: 0;
          .butler-text {
            left: 70px;
            top: -260px;
          }
          .butler-text::after {
            right: initial;
            left: 86px;
          }

          .butler-image {
            max-width: initial;
            .podium {
              top: 51%;
            }
          }
        }
      }
    }
    .footer-content {
      right: 25px !important;
    }
  }
}

@media screen and (orientation: portrait) and (max-width: 600px) {
  .lp-wrapper {
    height: fit-content;
    min-height: 100vh;
    max-height: initial;
    .lp-container {
      width: 100vw;
      height: fit-content;
      min-height: 100vh;
      max-height: initial;
      .bg-cafe {
        display: none;
      }
      .cafe-container {
        display: none;
      }

      .cafe-mobile {
        display: flex;
        flex-direction: column;
        position: relative;
        height: 100vh;
        width: 100vw;
        overflow-y: auto;
        overflow-x: hidden;
        .bg-mobile {
          flex: 1;
          min-height: 356px;
          background-image: url(../../assets/img/Cafe-color-photo.jpg);
          background-size: cover;
          background-position: 50%;
        }
        .butler-mobile {
          top: 16px;
          left: 0;
          width: 100vw;
          height: calc(100vh - 266px);
          position: absolute;
          z-index: 2;
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          .butler-left {
            flex: 5;
            display: flex;
            flex-direction: column;
            .butler-text-mobile {
              flex: 1;
              position: relative;
              .mobile-text {
                background-color: black;
                color: var(--ob-white);
                text-align: center;
                padding: 10px 15px;
                border-radius: 12px;
                line-height: 1;
                height: fit-content;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 10px;
                width: calc(100% - 40px);

                // !!!!! keep as VW font size -- it breaks small devices if it doesn't stay on two lines!!!
                h4 {
                  font-size: 6vw;
                  line-height: 1;
                }
                p {
                  font-size: 4vw;
                  margin: 0 10px 12px;
                  opacity: 0.7;
                }
              }
                 // !!!!! keep as VW font size -- it breaks small devices if it doesn't stay on two lines!!!

              .mobile-text::after {
                content: "";
                height: 0;
                width: 0;
                position: absolute;
                bottom: 0;
                right: -14px;
                border-top: 24px solid transparent;
                border-bottom: 0px solid transparent;
                border-left: 24px solid black;
              }
            }
            .enter-mobile {
              button {
                padding: 4px 10px !important;
                margin: 5vh 15vw 35% 15%;
                background: rgb(0, 0, 0);
                color: var(--ob-white);
                opacity: 0.8;
                letter-spacing: 2px;
              }
            }
          }
          .butler-right {
            position: relative;
            height: 100%;
            flex: 2;
            img {
              position: absolute;
              bottom: -15%;
              left: -40%;
              transform: rotateY(180deg);
              height: 50vh;
              width: auto;
            }
          }
        }
        .footer-mobile {
          background: var(--ob-blue);
          display: flex;
          flex-direction: column;
          box-shadow: var(--boxshadow);
          z-index: 2;
          .footer-top {
            padding: 0 24px;
            flex: 1;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            .footer-image {
              position: relative;
              img {
                position: absolute;
                bottom: 20px;
                left: 0;
                width: 34vw;
                height: auto;
              }
            }
            .book-info-mobile {
              flex: 1;
              text-align: right;
              color: var(--ob-white);
              h1 {
                padding: 20px 0 0;
                font-size: 36px;
              }
              h2 {
                margin: 0;
                font-size: 5vw; //note: keep at 5vw or else it will run into the book image on small devices//
              }
              hr {
                margin: 8px 5px 14px 50%;
              }
              h3 {
                margin: 0 0 16px 0;
                line-height: 20px;
              }
              span {
                color: rgba(255, 255, 255, 0.4);
                strong {
                  color: var(--ob-white);
                }
              }
            }
          }
          .footer-bottom {
            width: 100vw;
            height: fit-content;
            padding: 7px 0;
            background-color: var(--ob-darkblue);
            border-bottom-left-radius: 5px;
            text-align: center;
            margin-bottom: 24px;
            button {
              width: 80%;
              background-color: var(--ob-yellow);
              font-weight: bold;
              color: var(--ob-darkblue);
              font-size: 16px;
            }
          }
        }
      }
    }
    .enter {
      display: none;
    }
    .footer-content {
      display: none;
    }    
    app-footer {
      display: none;
    }
  }
  // cafe smoke animation
  .containerA {
    .cafe-mobile {
      .bg-mobile::before {
        content: "";
        height: 100%;
        width: calc(100% + 200px);
        position: absolute;
        top: 0;
        left: -200px;
        background-image: url(../../assets/img/Smoke-1b.png);
        background-repeat: repeat;
        z-index: 1;
        mix-blend-mode: hard-light;
        animation: smoke1 17s infinite alternate ease-in-out;
        pointer-events: none;
      }
      .bg-mobile::after {
        content: "";
        height: 100%;
        width: calc(100% + 200px);
        position: absolute;
        top: -50px;
        right: -200px;
        background-image: url(../../assets/img/Smoke-2b.png);
        background-repeat: repeat;
        z-index: 2;
        mix-blend-mode: hard-light;
        animation: smoke2 13s infinite alternate ease-in-out;
        pointer-events: none;
      }
    }

    @keyframes smoke1 {
      0% {
        left: -200px;
        opacity: 0.6;
        top: 0;
      }
      25% {
        top: 0;
        opacity: 0.3;
      }
      50% {
        top: -25px;
        opacity: 0.5;
      }
      75% {
        top: -25px;
        opacity: 0.2;
      }
      100% {
        left: 0;
        top: -50px;
        opacity: 0.3;
      }
    }

    @keyframes smoke2 {
      0% {
        right: -200px;
        top: 0;
        opacity: 0.2;
      }
      25% {
        top: -15px;
        opacity: 0.5;
      }
      50% {
        top: -25px;
        opacity: 0.3;
      }
      75% {
        top: -45px;
        opacity: 0.6;
      }
      100% {
        right: 0;
        top: -50px;
        opacity: 0.4;
      }
    }
  }
}

@media screen and (orientation: portrait) and (max-height: 600px) {
  .lp-wrapper {
    .lp-container {
      .cafe-mobile {
        .butler-mobile {
          .butler-left {
            .butler-text-mobile {
              .mobile-text::after {
                bottom: 15%;
                border-top: 10px solid transparent;
                border-bottom: 10px solid transparent;
                border-left: 15px solid black;
              }
            }
          }
        }
      }
    }
  }
}

// mobile landing page test poc
// @media screen and (orientation: portrait) and (max-width: 600px) {
//   .lp-wrapper {
//     .lp-container {
//       width: 100vw;
//       .cafe-container {
//         top: 67%;
//         -webkit-transform: translate(-50%, -50%) scale(0.6);
//         transform: translate(-50%, -50%) scale(0.6);
//         .butler-container {
//           top: -40px;
//           left: 16%;
//           .butler-text {
//             left: initial;
//             right: -60%;
//             top: -260px;
//           }
//           .butler-text::after {
//             right: initial;
//             left: 25px;
//           }

//           .butler-image {
//             max-width: initial;
//             width: 230px;
//             .podium {
//               top: 51%;
//             }
//           }
//         }
//       }
//     }
//     .footer-content {
//       -webkit-transform: scale(0.7);
//       transform: scale(0.7);
//       transform-origin: bottom right;
//       right: 5px !important;
//       .book-info {
//         top: 0 !important;
//         transform: unset !important;
//       }
//     }
//   }
// }
