<div class="container">
  <div class="cafe">
    <div class="panel-left"></div>
    <div class="panel-right"></div>
    <div class="panel-center">
      <a href="/cafe">
        <button>Enter Cafe</button>
      </a>
    </div>
    <img src="../../assets/img/temp-building.png" alt="" class="building" />
    <img src="../../assets/img/temp-cafe.jpg" alt="" class="interior" />
    <!-- <img src="../../assets/img/temp-host.jpg" alt="" class="host">
    <img src="../../assets/img/temp-stand.jpg" alt="" class="stand"> -->
  </div>
  <!-- <div class="cards">
      <img src="../../assets/img/temp-book-cover.jpg" alt="" class="book-cover1">
  </div> -->
</div>
