<div class="container">
  <div class="panel-left"></div>
  <div class="panel-right"></div>
  <div class="panel-center">
    <a routerLink="cafe">
      <button>Enter Cafe</button>
    </a>
  </div>
  <!-- <img src="../../assets/img/florian.png" alt="" class="building" /> -->
  <!-- <img src="../../assets/img/temp-host.jpg" alt="" class="host">
    <img src="../../assets/img/temp-stand.jpg" alt="" class="stand"> -->

  <!-- <div class="cards">
      <img src="../../assets/img/temp-book-cover.jpg" alt="" class="book-cover1">
  </div> -->
  <div class="interior"></div>
  <div class="building"></div>
  <!-- <app-footer></app-footer> -->
  
</div>
