.lp-wrapper {
  background-color: var(--lp-bg);
  max-height: 100vh;
  height: 100%;
  max-width: 100vw;
  width: 100%;
  position: fixed;

  // cafe smoke animation
  .containerA {
    .cafe-container {
      .cafe-clip::before {
        content: "";
        height: 100%;
        width: calc(100% + 200px);
        position: absolute;
        bottom: 0;
        left: -200px;
        background-image: url(../../assets/img/Smoke-1b.png);
        background-repeat: repeat;
        z-index: 1;
        mix-blend-mode: hard-light;
        animation: smoke1 17s infinite alternate ease-in-out;
        pointer-events: none;
      }
      .cafe-clip::after {
        content: "";
        height: 100%;
        width: calc(100% + 200px);
        position: absolute;
        bottom: 0;
        right: -200px;
        background-image: url(../../assets/img/Smoke-2b.png);
        background-repeat: repeat;
        z-index: 2;
        mix-blend-mode: hard-light;
        animation: smoke2 13s infinite alternate ease-in-out;
        pointer-events: none;
      }
    }

    @keyframes smoke1 {
      0% {
        left: -200px;
        opacity: 0.6;
        bottom: 0;
      }
      25% {
        bottom: 0;
        opacity: 0.3;
      }
      50% {
        bottom: -25px;
        opacity: 0.5;
      }
      75% {
        bottom: -25px;
        opacity: 0.2;
      }
      100% {
        left: 0;
        bottom: -50px;
        opacity: 0.3;
      }
    }

    @keyframes smoke2 {
      0% {
        right: -200px;
        bottom: 0;
        opacity: 0.2;
      }
      25% {
        bottom: -15px;
        opacity: 0.5;
      }
      50% {
        bottom: -25px;
        opacity: 0.3;
      }
      75% {
        bottom: -45px;
        opacity: 0.6;
      }
      100% {
        right: 0;
        bottom: -50px;
        opacity: 0.4;
      }
    }
  }

  // "enter cafe" animation
  .containerB {
    max-width: initial !important;
    width: initial !important;
    .bg-cafe {
      -webkit-animation: opac-in 1.5s forwards;
      animation: opac-in 1.5s forwards;
      z-index: 1;
    }
    @-webkit-keyframes opac-in {
      0% {
        opacity: 0;
        -webkit-transform: translate(-50%, -50%) scale(0.7);
      }
      40% {
        opacity: 0.05;
        -webkit-transform: translate(-50%, -50%) scale(0.7);
      }
      75% {
        opacity: 0.1;
        -webkit-transform: translate(-50%, -50%) scale(0.8);
        clip-path: ellipse(45% 50%);
      }
      100% {
        opacity: 0.5;
        -webkit-transform: translate(-50%, -50%) scale(1);
        clip-path: ellipse(90% 90%);
      }
    }
    @keyframes opac-in {
      0% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.7);
      }
      40% {
        opacity: 0.05;
        transform: translate(-50%, -50%) scale(0.7);
      }
      75% {
        opacity: 0.1;
        transform: translate(-50%, -50%) scale(0.8);
        clip-path: ellipse(45% 50%);
      }
      100% {
        opacity: 0.5;
        transform: translate(-50%, -50%) scale(1);
        clip-path: ellipse(90% 90%);
      }
    }

    .butler-container {
      opacity: 0;
      transition: 1.5s;
      top: 25% !important;
      left: -100px !important;
      .butler-text {
        display: none;
      }
    }

    .cafe-container {
      top: 0 !important;
      max-width: 1920px !important;
      max-height: 1984px !important;
      width: 100vw !important;
      height: calc(100vw * 1.0333333333) !important;
      transition: 1.5s !important;
      animation: opac 1.5s;

      .cafe-clip {
        .cafe-image {
          height: 100% !important;
          width: 100% !important;

          img {
            object-fit: contain !important;
            height: 100% !important;
            width: 100% !important;
            // object-position: top !important;
          }
        }
      }
    }

    .footer-content {
      animation: opac 1.5s forwards;
      transition: 1.5s;
      cursor: pointer;
    }
  }

  @keyframes opac {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  .lp-container {
    --lp-shadow-color: rgb(115, 104, 104);
    width: 100%;
    height: 100vh;
    position: relative;
    margin: 0 auto;
    .bg-cafe {
      opacity: 0;
      clip-path: ellipse(45% 50%);
      height: 100vh;
      width: 100vw;
      position: fixed;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%) scale(0.7);
      transform: translate(-50%, -50%) scale(0.7);
      transform-origin: center;
      pointer-events: none;
      background-image: url(../../assets/img/cafe-art.jpg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }

    .butler-container {
      position: absolute;
      top: 100px;
      left: calc(50% - 400px);
      -webkit-transform: translate(-50%);
      transform: translate(-50%);
      height: fit-content;
      width: fit-content;
      z-index: 5;
      pointer-events: none;
      filter: drop-shadow(0 0 20px var(--lp-shadow-color));

      .butler-text {
        background-color: black;
        color: var(--ob-white);
        text-align: center;
        height: fit-content;
        width: 240px;
        padding: 10px 15px;
        border-radius: 12px;
        position: relative;
        margin-bottom: 12px;
        h4 {
          font-size: 24px;
        }
        p {
          font-size: 18px;
          margin: 0 10px 12px;
          opacity: 0.7;
        }
      }

      .butler-text::after {
        content: "";
        position: absolute;
        bottom: -12px;
        left: 50%;
        height: 0;
        width: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 15px solid black;
      }
      .butler-image {
        width: 290px;
        max-width: 17vw;
        height: 100%;
        position: relative;
        top: 10px;
        left: 34px;
        .butler {
          height: auto;
          width: 261px;
          transition: 1s ease-in-out;
        }
      }
    }

    .cafe-mobile {
      display: none;
    }

    .cafe-container::before {
      content: "";
      height: 629px;
      width: 895px;
      border-top: calc((100vh - 630px) / 2) solid var(--lp-bg);
      border-bottom: calc((100vh - 629px) / 2) solid var(--lp-bg);
      border-right: calc((100vw - 898px) / 2) solid var(--lp-bg);
      border-left: calc((100vw - 898px) / 2) solid var(--lp-bg);
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 4;
      pointer-events: none;
    }

    .cafe-container {
      width: 100vw;
      height: 100vh;
      position: relative;
      margin: auto;
      display: grid;
      grid-template-columns: auto 300px 300px 300px auto;
      grid-template-rows: 1fr 631.7px 1fr;

      .enter {
        height: 58px;
        width: 118px;
        position: fixed;
        left: 50.9%;
        bottom: calc((100vh - 631px) / 2);
        transform: translate(-50%);
        background: var(-ob-white);
        z-index: 100;
        animation: initial;
        border: 3px solid var(--accent-red);
        color: var(--accent-red);
        line-height: 20px;
        font-size: 18px;
        font-weight: 700;
        padding: 3px 0 0;
        span {
          color: black;
          font-size: 19pt;
        }
      }

      .arch {
        height: 631.7px;
        z-index: 3;
        grid-row: 2/3;
        grid-column: 2/5;
        pointer-events: none;
        filter: drop-shadow(-6px 5px 16px rgb(50, 0, 42));

        img {
          height: auto;
          width: 900px;
        }
      }

      .panel-left {
        z-index: 99;
        grid-column: 2;
        grid-row: 2;
        cursor: pointer;
        margin: 46% 0 8% 15%;
        border-top-left-radius: 100%;
      }

      .panel-left:hover ~ .cafe-clip {
        .cafe-image {
          img {
            -webkit-transform: translate(-10px);
            transform: translate(10px);
            transition: 1s ease-in-out;
          }
        }
        .cafe-image::before {
          opacity: 35%;
          left: 50%;
          transition: 1s ease-in-out;
        }
      }

      .panel-right {
        z-index: 99;
        grid-column: 4;
        grid-row: 2;
        cursor: pointer;
        margin: 46% 15% 8% 0;
        border-top-right-radius: 100%;
        // background: rgba(green, .2);
      }
      .panel-right:hover ~ .cafe-clip {
        .cafe-image {
          img {
            -webkit-transform: translate(-15px);
            transform: translate(-15px);
            transition: 1s ease-in-out;
          }
        }
        .cafe-image::before {
          opacity: 35%;
          left: -50%;
          transition: 1s ease-in-out;
        }
      }

      .panel-center {
        z-index: 99;
        grid-column: 3;
        grid-row: 2;
        cursor: pointer;
        border-top-left-radius: 12%;
        border-top-right-radius: 12%;
        margin: 33% 0 9%;
      }
      .panel-center:hover ~ .cafe-clip {
        .cafe-image {
          img {
            -webkit-transform: translate(0);
            transform: translate(0);
            transition: 1s ease-in-out;
          }
        }
      }

      .cafe-clip {
        width: 100%;
        height: 100%;
        padding: 0px;
        transition: 0s;
        grid-row: 2/3;
        grid-column: 2/5;
        position: relative;
        pointer-events: none;

        .cafe-image {
          height: 100%;
          width: 100%;
          pointer-events: none;

          img {
            object-fit: contain;
            height: 100%;
            width: 100%;
            object-position: 0 94%;
            filter: blur(2px) brightness(0.75);
            transition: 1s;
            position: relative;
            left: 15px;
          }

          .panel-left:hover ~ img {
            transform: translate(-20px);
            transition: 1s ease-in-out;
          }
        }
        .cafe-image::before {
          content: "";
          height: 100%;
          width: 100%;
          position: absolute;
          background: linear-gradient(to right, transparent, white, transparent);
          opacity: 10%;
          left: 0%;
          top: 0;
          z-index: 1;
          pointer-events: none;
          transition: 1s ease-in-out;
        }
      }
    }

    .footer-mobile {
      display: none;
    }
    .footer-content {
      cursor: pointer;
      position: fixed;
      bottom: 10px;
      right: 50px;
      height: 250px;
      width: fit-content;
      z-index: 1000;
      .book-info {
        position: absolute;
        left: -295px;
        top: 50%;
        transform: translateY(-50%);
        height: 90%;
        width: 300px;
        background: var(--ob-blue);
        z-index: -1;
        border-radius: 5px;
        box-shadow: var(--boxshadow);
        text-align: center;
        color: var(--ob-white);

        h1 {
          padding: 20px 0 0;
          font-size: 40px;
          margin: 6px 0 0 0;
        }
        h2 {
          margin: 0;
          letter-spacing: 2px;
        }
        hr {
          margin: 8px 105px 14px;
        }
        h3 {
          margin: 0 0 16px 0;
          line-height: 20px;
        }
        span {
          color: rgba(255, 255, 255, 0.4);
          strong {
            color: var(--ob-white);
          }
        }
        .info-bottom {
          width: 100%;
          height: fit-content;
          padding: 7px 0;
          border-bottom-left-radius: 5px;
          button {
            width: 90%;
            background: linear-gradient(to bottom, #fff0a6, #e3b62d);
            font-weight: bold;
            color: var(--ob-blue);
            font-size: 16px;
            letter-spacing: 1px;
            text-shadow: 0 0 0px var(--ob-blue);
          }
        }
      }
      img {
        height: 100%;
        width: auto;
        object-fit: contain;
        filter: drop-shadow(2px 3px 6px black);
        transform: rotate(4deg) translate(-6px);
      }
    }
  }

  // ::ng-deep footer {
  //   width: 100%;
  //   position: absolute;
  //   bottom: 0;
  //   left: 0;
  //   .f-right {
  //     display: none;
  //   }
  // }
}

// @media screen and (orientation: portrait) and (min-height: 928px) {
//   .lp-wrapper {
//     .lp-container {
//       width: 100vw;
//       .cafe-container {
//         top: 63%;
//         -webkit-transform: translate(-50%, -50%) scale(0.8);
//         transform: translate(-50%, -50%) scale(0.8);
//       }
//       .butler-container {
//         top: 0;
//         .butler-text {
//           left: 70px;
//           top: -260px;
//         }
//         .butler-text::after {
//           right: initial;
//           left: 86px;
//         }

//         .butler-image {
//           max-width: initial;
//         }
//       }
//     }
//     .footer-content {
//       cursor: pointer;
//       right: 25px !important;
//     }
//   }
// }

@media screen and (orientation: portrait) {
  .lp-wrapper {
    height: fit-content;
    min-height: 100vh;
    height: -webkit-fill-available;
    max-height: initial;
    position: relative;
    .lp-container {
      width: 100vw;
      height: fit-content;
      min-height: 100vh;
      max-height: initial;
      .bg-cafe {
        display: none;
      }
      .cafe-container {
        display: none;
      }
      .butler-container {
        display: none;
      }

      .cafe-mobile {
        display: flex;
        flex-direction: column;
        position: relative;
        height: 100vh;
        width: 100vw;
        overflow-y: auto;
        overflow-x: hidden;
        .bg-mobile {
          flex: 1;
          min-height: 356px;
          background-image: url(../../assets/img/cafe-bg.jpg);
          background-size: cover;
          background-position: 50%;
        }
        .butler-mobile {
          top: 16px;
          left: 0;
          width: 100vw;
          height: calc(100vh - 266px);
          position: absolute;
          z-index: 2;
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          .butler-left {
            flex: 5;
            display: flex;
            flex-direction: column;
            .butler-text-mobile {
              flex: 1;
              position: relative;
              .mobile-text {
                background-color: black;
                color: var(--ob-white);
                text-align: center;
                padding: 10px 15px;
                border-radius: 12px;
                line-height: 1;
                height: fit-content;
                position: absolute;
                top: 37%;
                transform: translateY(-50%);
                right: 0;
                width: calc(100% - 40px);
                max-width: 220px;

                // !!!!! keep as VW font size -- it breaks small devices if it doesn't stay on two lines!!!
                h4 {
                  font-size: 20px;
                  line-height: 1;
                }
                p {
                  font-size: 16px;
                  margin: 0 10px 12px;
                  opacity: 0.7;
                }
                .enter-mobile {
                  button {
                    height: 58px;
                    width: 118px;
                    background: var(-ob-white);
                    border: 3px solid var(--accent-red);
                    color: var(--accent-red);
                    line-height: 20px;
                    font-size: 18px;
                    font-weight: 700;
                    padding: 3px 0 0;
                    margin: 0 auto;
                    span {
                      color: black;
                      font-size: 19pt;
                    }
                  }
                }
              }
              // !!!!! keep as VW font size -- it breaks small devices if it doesn't stay on two lines!!!

              .mobile-text::after {
                content: "";
                height: 0;
                width: 0;
                position: absolute;
                bottom: 28%;
                right: -14px;
                border-top: 10px solid transparent;
                border-bottom: 10px solid transparent;
                border-left: 15px solid black;
              }
            }
          }
          .butler-right {
            position: relative;
            height: 100%;
            flex: 2;
            img {
              position: absolute;
              top: 40%;
              left: -50%;
              transform: rotateY(180deg);
              height: 60vh;
              width: auto;
            }
          }
        }
        .footer-mobile {
          background: var(--ob-blue);
          display: flex;
          flex-direction: column;
          box-shadow: var(--boxshadow);
          z-index: 2;
          .footer-top {
            padding: 0 24px;
            flex: 1;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            .footer-image {
              position: relative;
              img {
                position: absolute;
                bottom: 20px;
                left: 0;
                width: 34vw;
                height: auto;
              }
            }
            .book-info-mobile {
              flex: 1;
              text-align: right;
              color: var(--ob-white);
              h1 {
                padding: 20px 0 0;
                font-size: 36px;
              }
              h2 {
                margin: 0;
                font-size: 5vw; //note: keep at 5vw or else it will run into the book image on small devices//
              }
              hr {
                margin: 8px 5px 14px 50%;
              }
              h3 {
                margin: 0 0 16px 0;
                line-height: 20px;
              }
              span {
                color: rgba(255, 255, 255, 0.4);
                strong {
                  color: var(--ob-white);
                }
              }
            }
          }
          .footer-bottom {
            width: 100vw;
            max-width: 414px;
            height: fit-content;
            padding: 7px 0;
            background-color: var(--ob-darkblue);
            border-bottom-left-radius: 5px;
            text-align: center;
            margin: 0 auto 24px;

            button {
              width: 80%;
              background: linear-gradient(to bottom, #fff0a6, #e3b62d);
              font-weight: bold;
              color: var(--ob-darkblue);
              font-size: 16px;
            }
          }
        }
      }
    }
    .enter {
      display: none;
    }
    .footer-content {
      display: none;
    }
    app-footer {
      display: none;
    }
  }
  // cafe smoke animation
  .containerA {
    .cafe-mobile {
      .bg-mobile::before {
        content: "";
        height: 100%;
        width: calc(100% + 200px);
        position: absolute;
        top: 0;
        left: -200px;
        background-image: url(../../assets/img/Smoke-1b.png);
        background-repeat: repeat;
        z-index: 1;
        mix-blend-mode: hard-light;
        animation: smoke1 17s infinite alternate ease-in-out;
        pointer-events: none;
      }
      .bg-mobile::after {
        content: "";
        height: 100%;
        width: calc(100% + 200px);
        position: absolute;
        top: -50px;
        right: -200px;
        background-image: url(../../assets/img/Smoke-2b.png);
        background-repeat: repeat;
        z-index: 2;
        mix-blend-mode: hard-light;
        animation: smoke2 13s infinite alternate ease-in-out;
        pointer-events: none;
      }
    }

    @keyframes smoke1 {
      0% {
        left: -200px;
        opacity: 0.6;
        top: 0;
      }
      25% {
        top: 0;
        opacity: 0.3;
      }
      50% {
        top: -25px;
        opacity: 0.5;
      }
      75% {
        top: -25px;
        opacity: 0.2;
      }
      100% {
        left: 0;
        top: -50px;
        opacity: 0.3;
      }
    }

    @keyframes smoke2 {
      0% {
        right: -200px;
        top: 0;
        opacity: 0.2;
      }
      25% {
        top: -15px;
        opacity: 0.5;
      }
      50% {
        top: -25px;
        opacity: 0.3;
      }
      75% {
        top: -45px;
        opacity: 0.6;
      }
      100% {
        right: 0;
        top: -50px;
        opacity: 0.4;
      }
    }
  }
}

@media screen and (orientation: landscape) and (max-height: 700px) and (max-width: 900px) {
  .lp-wrapper {
    max-height: initial;
    height: 100vh;
    max-width: initial;
    width: 100vw;
    overflow-y: auto;
    position: absolute;
    .lp-container {
      width: 100%;
      height: 100%;
      position: relative;
      .butler-container {
        display: none;
      }
      .cafe-container::before {
        display: none;
      }
      .cafe-container {
        display: none;
      }
      .cafe-mobile {
        display: flex;
        flex-direction: column;
        position: relative;
        height: 100vh;
        width: 100vw;
        overflow-y: auto;
        overflow-x: hidden;
        .bg-mobile {
          flex: 1;
          min-height: 356px;
          background-image: url(../../assets/img/cafe-bg.jpg);
          background-size: cover;
          background-position: 50%;
        }
        .butler-mobile {
          top: 0;
          left: 0;
          width: 100vw;
          height: 100%;
          position: absolute;
          z-index: 3;
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          .butler-left {
            flex: 5;
            display: flex;
            flex-direction: column;
            .butler-text-mobile {
              min-height: 230px;
              position: relative;
              .mobile-text {
                background-color: black;
                color: var(--ob-white);
                text-align: center;
                padding: 10px 15px;
                border-radius: 12px;
                line-height: 1;
                height: fit-content;
                position: absolute;
                top: 10px;
                right: -38px;
                width: calc(100% - 40px);
                max-width: 200px;

                // !!!!! keep as VW font size -- it breaks small devices if it doesn't stay on two lines!!!
                h4 {
                  font-size: 20px;
                  line-height: 1;
                }
                p {
                  font-size: 16px;
                  margin: 0 10px 12px;
                  opacity: 0.7;
                }
                .enter-mobile {
                  button {
                    height: 58px;
                    width: 118px;
                    background: var(-ob-white);
                    border: 3px solid var(--accent-red);
                    color: var(--accent-red);
                    line-height: 20px;
                    font-size: 18px;
                    font-weight: 700;
                    padding: 3px 0 0;
                    margin: 0 auto;
                    span {
                      color: black;
                      font-size: 19pt;
                    }
                  }
                }
              }
              // !!!!! keep as VW font size -- it breaks small devices if it doesn't stay on two lines!!!

              .mobile-text::after {
                content: "";
                height: 0;
                width: 0;
                position: absolute;
                bottom: 123px;
                right: -14px;
                border-top: 15px solid transparent;
                border-bottom: 15px solid transparent;
                border-left: 24px solid black;
              }
            }
          }
          .butler-right {
            position: relative;
            height: 100%;
            flex: 2;
            img {
              position: absolute;
              top: 15%;
              left: 9%;
              transform: rotateY(180deg);
              height: 125vh;
              width: auto;
            }
          }
        }
        .footer-mobile {
          background: var(--ob-blue);
          display: flex;
          flex-direction: column;
          box-shadow: var(--boxshadow);
          z-index: 4;
          .footer-top {
            padding: 0 24px;
            flex: 1;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            .footer-image {
              img {
                position: fixed;
                bottom: 2vh;
                left: 2vh;
                width: auto;
                height: 96vh;
              }
            }
            .book-info-mobile {
              flex: 1;
              text-align: right;
              color: var(--ob-white);
              h1 {
                padding: 20px 0 0;
                font-size: 36px;
              }
              h2 {
                margin: 0;
                font-size: 5vw; //note: keep at 5vw or else it will run into the book image on small devices//
              }
              hr {
                margin: 8px 5px 14px 50%;
              }
              h3 {
                margin: 0 0 16px 0;
                line-height: 20px;
              }
              span {
                color: rgba(255, 255, 255, 0.4);
                strong {
                  color: var(--ob-white);
                }
              }
            }
          }
          .footer-bottom {
            height: fit-content;
            padding: 7px 0;
            border-bottom-left-radius: 5px;
            text-align: center;
            position: fixed;
            bottom: 5px;
            left: 3vh;

            button {
              width: calc((96vh * 0.624685) - 9px);
              background: linear-gradient(to bottom, #fff0a6, #e3b62d);
              font-weight: bold;
              color: var(--ob-darkblue);
              font-size: 16px;
              margin-right: 30px;
              float: right;
            }
          }
        }
      }
    }
    .enter {
      display: none;
    }
    .footer-content {
      display: none;
    }
    app-footer {
      display: none;
    }
  }
  // cafe smoke animation
  .containerA {
    .cafe-mobile {
      .bg-mobile::before {
        content: "";
        height: 130%;
        width: calc(100% + 200px);
        position: absolute;
        top: 0;
        left: -200px;
        background-image: url(../../assets/img/Smoke-1b.png);
        background-repeat: repeat;
        z-index: 1;
        mix-blend-mode: hard-light;
        animation: smoke1 17s infinite alternate ease-in-out;
        pointer-events: none;
      }
      .bg-mobile::after {
        content: "";
        height: 130%;
        width: calc(100% + 200px);
        position: absolute;
        top: -50px;
        right: -200px;
        background-image: url(../../assets/img/Smoke-2b.png);
        background-repeat: repeat;
        z-index: 2;
        mix-blend-mode: hard-light;
        animation: smoke2 13s infinite alternate ease-in-out;
        pointer-events: none;
      }
    }

    @keyframes smoke1 {
      0% {
        left: -200px;
        opacity: 0.6;
        top: 0;
      }
      25% {
        top: 0;
        opacity: 0.3;
      }
      50% {
        top: -25px;
        opacity: 0.5;
      }
      75% {
        top: -25px;
        opacity: 0.2;
      }
      100% {
        left: 0;
        top: -50px;
        opacity: 0.3;
      }
    }

    @keyframes smoke2 {
      0% {
        right: -200px;
        top: 0;
        opacity: 0.2;
      }
      25% {
        top: -15px;
        opacity: 0.5;
      }
      50% {
        top: -25px;
        opacity: 0.3;
      }
      75% {
        top: -45px;
        opacity: 0.6;
      }
      100% {
        right: 0;
        top: -50px;
        opacity: 0.4;
      }
    }
  }
}

@media screen and (max-width: 1180px) {
  .lp-wrapper {
    .lp-container {
      .cafe-container {
        .enter {
          left: 30.5% !important;
          z-index: 4;
          padding-left: 12px;
          padding-right: 8px;
          width: 129px;
        }
      }
    }
  }
}
