body {
    color: var(--accent-orange);
    flex-direction: row;
    .dialog-left {
        .carousel-container::before {
            content: "";
            background-color: currentColor;
        }
        .carousel-container::after {
            filter: opacity(0.4) drop-shadow(0 0 0 currentColor) saturate(250%) brightness(90%);
        }
        .carousel-container {
            background-color: var(--bg-accent-orange);
            h2 {
                color: currentColor;
            }
            .dialog-carousel {
                .slide {
                    .quote-text {
                        .slide-intro {
                            color: currentColor;
                        }
                    }
                }
            }
        }
    }

    ::ng-deep .slick-arrow {
        color: var(--accent-orange);
        border-radius: 0;
        background-color: currentColor;
        &::before {
            color: currentColor;
        }
        &:focus {
            background-color: currentColor !important;
        }
        &:hover {
            background-color: currentColor !important;
        }
    }
}
