.dialog-container {
body {
    color: var(--accent-yellow);
    flex-direction: row;
    .dialog-left {
        .carousel-container::before {
            content: "";
            background-color: currentColor;
        }
        .carousel-container::after {
            filter: opacity(0.4) drop-shadow(0 0 0 currentColor) saturate(250%) brightness(90%);
        }
        .carousel-container {
            background-color: var(--bg-accent-yellow);
            h2 {
                color: black;
                cursor: pointer;
            }

            .else-info {
                position: absolute;
                top: 97px;
                right: 2px;
                height: fit-content;
                width: 200px;
                background-color: black;
                color: white;
                padding: 16px;
                border-radius: 10px;
                z-index: 1000;
            }
            .else-info::after {
                content: '';
                height: 0px;
                width: 0px;
                position: absolute;
                top: -10px;
                right: 63%;
                border-left: 15px solid transparent;
                border-right: 15px solid transparent;
                border-bottom: 15px solid black;
            }
            .dialog-carousel {
                .slide {
                    .quote-text {
                        .slide-intro {
                            color: black;
                        }
                    }
                }
            }
        }
    }

    ::ng-deep .slick-arrow {
        color: var(--accent-yellow);
        border-radius: 0;
        background-color: currentColor;
        &::before {
            color: currentColor;
        }
        &:focus {
            background-color: currentColor !important;
        }
        &:hover {
            background-color: currentColor !important;
        }
    }
}
    .character-footer-mobile::before,
    .character-footer-mobile::after {
        background-color: var(--accent-yellow) !important;
    }
}
