.dialog-container {
  .character-dialog {
    flex-direction: row-reverse !important;
    .dialog-left {
      .carousel-container::after {
        right: initial !important;
        left: -100px;
        border-left: initial !important;
        border-right: 100px solid var(--speech-bubble);
      }
      .carousel-container {
        .bubble-footer {
          flex-direction: row-reverse !important;
        }
      }
    }
    .dialog-right {
      img {
        right: -78% !important;
        top: 267px !important;
        transform: scale(4) !important;
        filter: drop-shadow(0 0 2px white);
      }
    }
  }
}
