body {
    .dialog-left {
        .carousel-container::after {
            filter: opacity(0.4) drop-shadow(0 0 0 var(--accent-mint)) saturate(300%) brightness(90%);
          }
        .carousel-container {
            background-color: var(--bg-accent-mint);
            h2 {
                color: var(--accent-mint);
            }
        }
    }
    .dialog-right {
        img {
            right: 0 !important;
        }
    }
    ::ng-deep .slick-arrow {
        border-radius: 0;
        background-color: var(--accent-mint);
        &::before {
            color: var(--accent-mint);
        }
        &:focus {
            background-color: var(--accent-mint) !important;
        }
        &:hover {
            background-color: var(--accent-mint) !important;
        }
    }
}