body {
    color: var(--accent-mint);
    .dialog-left {
            .carousel-container::before {
              content: "";
              background-color: currentColor;
            }
        .carousel-container::after {
            filter: opacity(0.4) drop-shadow(0 0 0 currentColor) saturate(300%) brightness(90%);
          }
        .carousel-container {
            background-color: var(--bg-accent-mint);
            h2 {
                color: currentColor;
            }
        }
    }
    .dialog-right {
        img {
            right: 0 !important;
        }
    }
    ::ng-deep .slick-arrow {
        color: var(--accent-mint);
        border-radius: 0;
        background-color: currentColor;
        &::before {
            color: currentColor;
        }
        &:focus {
            background-color: currentColor !important;
        }
        &:hover {
            background-color: currentColor !important;
        }
    }
}