body {
    flex-direction: row-reverse !important;
    .dialog-left {
        .carousel-container::after {
            filter: opacity(0.4) drop-shadow(0 0 0 var(--accent-purple)) saturate(300%) brightness(90%);
        }
        .carousel-container {
            left: 56%;
            background-color: var(--bg-accent-purple);
            h2 {
                color: var(--accent-purple);
            }
        }
        .bubble-footer {
            left: 60%;
            .audiobook {
                .ab-img {
                    button {
                        right: -20px;
                    }
                }
            }
        }
    }
    .dialog-right {
        img {
            right: -initial;
            left: -22%;
        }
    }
    ::ng-deep .slick-arrow {
        border-radius: 0;
        background-color: var(--accent-purple);
        &::before {
            color: var(--accent-purple);
        }
        &:focus {
            background-color: var(--accent-purple) !important;
        }
        &:hover {
            background-color: var(--accent-purple) !important;
        }
    }
}

@media screen and (orientation: portrait) {
    body {
        .dialog-left {
            .carousel-container {
                left: 50px;
            }
        }
        .dialog-right {
            img {
                left: -260px;
            }
        }
    }
}
