<div class="cafe-container">
  <div class="image-wrapper">
    <img class="cafe-interior" src="../../assets/img/cafe-interior.jpg" alt="" />

    <!-- modals -->
    <div class="typewriter eye"></div>
    <div class="window eye"></div>
    <div class="wall-minor-authors eye"></div>
    <div class="fancy-lady eye"></div>
    <!-- modals -->

    <a href="/order">
      <div class="preorder">
        <img src="../../assets/img/temp-book-cover.jpg" alt="">
      </div>
    </a>
    <a href="/order">
      <div class="preorder2"></div>
    </a>
    <a href="/contact">
      <div class="contact"></div>
    </a>
    <a href="/about">
      <div class="info"></div>
      <button mat-raised-button color="warn">yo mama</button>
    </a>
  </div>
</div>
