<router-outlet></router-outlet>
<div class="cafe-container">
  <app-header></app-header>
  <div class="image-wrapper">
    <img
      class="cafe-interior"
      src="../../assets/img/cafe-interior.jpg"
      alt=""
    />

    <!-- modals -->
    <div class="typewriter eye" routerLink="typewriter">
      <button
        mat-icon-button
        color="primary"
        class="visibility"
        aria-label="Writing contest"
      >
        <mat-icon>visibility</mat-icon>
      </button>
    </div>
    <div class="window eye" routerLink="window">
      <button
        mat-icon-button
        color="primary"
        class="visibility"
        aria-label="Look through the window"
      >
        <mat-icon>visibility</mat-icon>
      </button>
    </div>
    <div class="wall-minor-authors eye" routerLink="wall-of-authors">
      <button
        mat-icon-button
        color="primary"
        class="visibility"
        aria-label="Wall of Minor Authors"
      >
        <mat-icon>visibility</mat-icon>
      </button>
    </div>
    
    <div class="fancy-lady eye" routerLink="character1"></div>
    <div class="character2 eye temp" routerLink="character2"></div>
    <div class="character3 eye temp" routerLink="character3"></div>
    <div class="character4 eye temp" routerLink="character4"></div>
    <div class="character5 eye temp" routerLink="character5"></div>
    <div class="character6 eye temp" routerLink="character6"></div>
    <div class="arbiter eye temp" routerLink="arbiter"></div>
    <!-- modals -->
  </div>
  <app-footer></app-footer>
</div>

